<div align='center'>
    <%= will_paginate %>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Tytuł</th>
        <% if logged_in? && current_user.admin? %>
        <th>Edytuj (admin)</th>
        <th>Usuń (admin)</th>
        <% end %>
        <th>Autor</th>
        <th>Kategoria</th>
      </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
        <tr id="book-<%=book.id%>">
            <td><%= link_to "#{book.title}", book_path(book), class: "btn btn-xl btn-default" %>
                    <% if logged_in? && current_user.admin? %>
                    <td><%= link_to 'Edytuj', edit_book_path(book.id), class: "btn btn-xs btn-primary" %></td>
                    <td><%= link_to 'Usuń', book_path(book.id), method: :delete, class: "btn btn-xs btn-danger" %></td>
                    <% end %>
            </td>
            <td><%= book.author %></td>
            <td><%= book.genre %></td>
        </tr>
        <% end %>
    </tbody>
</table>
    <%= will_paginate %>
</div>
