<%= render 'layouts/errors', obj: @book %>
<h1 align="center">Dodaj książkę</h1>
<div class='row'>
    <div class='col-xs-12'>
        <%= form_for(@book, :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <label>Tytuł</label>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :title, class: "form-control", placeholder: "Tytuł", autofocus: true, id: "title" %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <label>Autor</label>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :author, class: "form-control", placeholder: "Autor", autofocus: true, id: "author" %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <label>Gatunek</label>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :genre, class: "form-control", placeholder: "Gatunek", autofocus: true, id: "genre" %>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= f.button "Dodaj", class: 'btn btn-primary btn-lg', id: "submit" %>
                </div>
            </div>
            <% end %>
    </div>
</div>