<div><%= @book.title %></div>
<div><%= @book.author %></div>
<div><%= @book.genre %></div>
<div><%= "Średnia #{@average}" %></div>
<%= render partial: "form", locals: {opinion: @opinion} %>


<% @book.opinions.each do |opinion| %>
<div>
    <% if opinion.description %>
        <%= "#{opinion.user.username} ocenił #{opinion.rate}/10: #{opinion.description}" %>
        <% if  current_user && current_user.admin? %>
            <%= link_to 'Usuń', opinion_path(opinion.id), method: :delete, class: "btn btn-xs btn-danger" %>
        <% end %>
    <% end %>
</div>
<% end %>



<div><%= link_to "Powrót", books_path(page: @lastpage), class: "btn btn-xl btn-info", id: 'back' %></div>
