<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BookWeb</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li><%= link_to 'Strona główna', root_path, id: 'mainsite' %></a></li>
            <li><a href="books">Lista Książek</a></li>
            <li><a href="authors">Autorzy</a></li>
           <li><a href="users">Użytkownicy</a></li>
           
           <% if logged_in? %>
  
  
  <li><%= link_to "Wyloguj", logout_path, method: :delete, id: 'logout' %></li>
           <li><%= link_to 'Twój profil', user_path(current_user), id: 'profile' %></li>
  <% else %>
   <li><a href="login">Logowanie</a></li>
           <li><a href="users/new">Utwórz Konto</a></li>
 
  <% end %>
          
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!--/
<div>
  <% if logged_in? %>
  <%= link_to "Wyloguj", logout_path, method: :delete, class: "btn btn-xs btn-danger", id: 'logout' %>
  <%= link_to 'Twój profil', user_path(current_user), class: "btn btn-xs btn-success", id: 'profile' %>
  <% else %>
  <%= link_to "Utwórz konto", new_user_path, class: "btn btn-xs btn-success", id: 'register' %>
  <%= link_to "Logowanie", login_path, class: "btn btn-xs btn-success", id: 'login' %>
  <% end %>
  <%= link_to 'Strona główna', root_path, class: "btn btn-xs btn-success", id: 'mainsite' %>
  <%= link_to "Lista książek", books_path, class: "btn btn-xs btn-success", id: 'books' %>
  <%= link_to 'Użytkownicy', users_path, class: "btn btn-xs btn-success", id: 'users' %>
  <%= link_to "Autorzy", authors_path, class: "btn btn-xs btn-success", id: 'authors' %>
  <% if logged_in? && current_user.admin? %>
  <%= link_to 'Dodaj książkę', new_book_path, class: "btn btn-xs btn-success", id: 'addbook' %>
  <% end %>
</div>

-->

<div class='col-sm-3'>
  <%= form_tag(books_search_path, method: "post") do %>
  <%= label(:search, "Szukaj książki") %>
  <%= text_field_tag :search, params[:search], placeholder: "Tytuł/Autor/Gatunek", class: 'form-control' %>
  <%= label(:orders, "Sortuj po") %>
  <%= select_tag "orders", options_for_select([["Tytuł","title"], ["Autor","author"], ["Gatunek", "genre"]], "Książka"), class: 'form-control' %>
  <%= select_tag 'sort', options_for_select([["Rosnąco", "ASC"],["Malejąco", "DESC"]]), class: 'form-control' %>
  <%= submit_tag("Szukaj") %>
  <% end %>
</div>