<!DOCTYPE html>
<html>
<head>
  <title>BookWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<%= link_to "Wyloguj", logout_path, method: :delete, class: "btn btn-xs btn-danger", id: 'logout' %>
<%= link_to 'Twój profil', user_path(current_user), class: "btn btn-xs btn-success", id: 'profile' %>
<% if current_user.admin %>
<%= link_to 'Dodaj książkę', new_book_path, class: "btn btn-xs btn-success", id: 'addbook' %>
<% end %>
<% else %>
<%= link_to "Utwórz konto", new_user_path, class: "btn btn-xs btn-success", id: 'register' %>
<%= link_to "Logowanie", login_path, class: "btn btn-xs btn-success", id: 'login' %>
<% end %>
<%= link_to 'Strona główna', root_path, class: "btn btn-xs btn-success", id: 'mainsite' %>
<%= link_to "Lista książek", books_path, class: "btn btn-xs btn-success", id: 'books' %>
<%= link_to 'Użytkownicy', users_path, class: "btn btn-xs btn-success", id: 'users' %>


<div class="container">
  <%= render 'layouts/messages' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>


</body>
</html>
